@page "/"
@*	https://stackoverflow.com/questions/58976579/blazor-server-load-js-scripts-only-on-certain-pages-not-on-all*@
	<h1>Hello, world!</h1>

	<MicComponent.Mic @ref="Mic"></MicComponent.Mic>

	<SpeechToText></SpeechToText>
